{% extends 'base.html.twig' %}

{% block title %}Producteurs
{% endblock %}

{% block body %}

	<div class="example-wrapper">
		<h1>Producteurs</h1>
		<hr>
		<div class="item-list">
			{% for producteur in producteurs %}
				<div class="item">

					<a href="{{path('producteur_detail', {'id': producteur.id})}}">
						<h2>{{producteur}}
							{{producteur.id}}</h2>
					</a>
					<h3>{{producteur.city}}</h3>


				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
